@use "../abstracts/mixins" as *;

.badge-wrap {
    display: flex;
    align-items: center;
}

.badge {
    @include fluid-font(3);
    font-weight: var(--font-medium);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // display: table-cell;
    // vertical-align: middle;
    line-height: 14px;
    padding-block: 6px;
    padding-inline: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;

    +.badge {
        // margin-bottom: 8px; 
        margin-inline-start: 8px;
    }

}

.badge-numbers {
    margin-block-end: 8px;
}

.badge-numbers,
.badge-info-wrap,
.badge-rounded,
.badge-bg-transparent {
    border: 0;
    padding-block: 5px;
    padding-inline: 7px;
    border-radius: 4px;

    .badge-inner-num {
        display: flex;
        align-items: center;

        .badge-num-text {
            color: var(--text-primary);
            font-weight: var(--font-medium);
        }
    }

    .badge-left-round {
        font-size: 10px;

        ~.badge-num-text {
            margin-inline-start: 10px;
        }
    }

    &.b-midnight-100 {
        background-color: #F4F7FB;
        color: #265CAA;
        line-height: normal;
        border-radius: 20px 0 20px 0;
        padding-block: 10px;
        padding-inline: 20px;
    }

    &.b-blue-800 {
        background-color: #265CAA;
        color: #ffffff;
        line-height: normal;
        border-radius: 10px;
        padding-block: 10px;
        padding-inline: 12px;
        font-size: 13px;
    }
}