.best-solutions-img {
    height: 450px;
}

@media screen and (min-width: 1200px) {
    .best-solutions-img {
        height: 100%;
    }
}

.home-sec-pattern-right {
    position: relative;
    overflow: hidden;

    .logo-bg-pattern-right {
        position: absolute;
        bottom: 0;
        right: -5%;
        z-index: 0;
        width: 15%;
        min-width: 100px;
        opacity: 0.5;
    }

}

.home-sec-pattern-left {
    position: relative;
    // overflow: hidden;

    .logo-bg-pattern-left {
        position: absolute;
        bottom: -10%;
        left: -3%;
        z-index: 0;
        width: 15%;
        min-width: 100px;
        opacity: 0.5;
    }
}