@use "../abstracts/mixins" as *;

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/manrope/Manrope-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/manrope/Manrope-Light.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/manrope/Manrope-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/manrope/Manrope-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/manrope/Manrope-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/manrope/Manrope-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/manrope/Manrope-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}