@use "../abstracts/mixins" as *;

* {
    box-sizing: border-box;
}

body {
    font-family: var(--fonts-manrope);
    color: var(--text-primary);
    // letter-spacing: 0.15px;
    line-height: 30px;
    @include fluid-font(1);
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -ms-font-feature-settings: normal;
    font-feature-settings: normal;
    font-weight: 400;
    overflow-x: hidden;
}

img {
    max-width: 100% !important;
    height: auto !important;
}

/* Editor Table */
.MsoNormalTable {
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.MsoNormalTable thead td {
    background: #f9f9f9;
    font-weight: 600;
}

/* Bordered Table */
.MsoNormalTable,
.MsoNormalTable th,
.MsoNormalTable td {
    border: 1px solid #dee2e6;
}

/* Cell Styling */
.MsoNormalTable th,
.MsoNormalTable td {
    padding: 10px 14px;
    text-align: left;
    vertical-align: top;
}

/* Header Style */
.MsoNormalTable th {
    font-weight: 600;
    background: #f8f9fa;
}

@media screen and (max-width: 767px) {
    body {
        line-height: 27px;
    }
}