.progress-custom {
    &.progress {
        background-color: #D7DCE1;
        border-radius: 50px;

        .progress-bar {
            background-color: var(--bg-secondary);
            border-radius: 50px;
        }
    }
}