.resume-file-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 40px;
    border-radius: 0 8px 8px 0 !important;
}

.home-sec-pattern-right {
    position: relative;
    overflow: hidden;

    .logo-bg-pattern-right {
        position: absolute;
        bottom: 0;
        right: -5%;
        z-index: 0;
        width: 15%;
        min-width: 100px;
        opacity: 0.5;
    }

}

.home-sec-pattern-left {
    position: relative;
    // overflow: hidden;

    .logo-bg-pattern-left {
        position: absolute;
        bottom: -10%;
        left: -3%;
        z-index: 0;
        width: 15%;
        min-width: 100px;
        opacity: 0.5;
    }
}

.ready-for-project-wrap {
    background-color: var(--bg-secondary);
    color: var(--text-white);
    margin-block-start: -10px;

    .ready-for-project-container {
        padding-block: 100px;
    }

    .btn.btn-primary {
        background-color: var(--white) !important;
        color: var(--bg-secondary) !important;
    }
}

.ready-for-project-wrap {
    .logo-bg-pattern-right {
        filter: brightness(5);
        bottom: auto !important;
        width: 13% !important;
    }

    .logo-bg-pattern-left {
        filter: brightness(5);
        width: 10% !important;
    }
}