.success-teams-inner {
    position: relative;
    overflow: hidden;

    &:hover {
        .team-img-height {
            transform: scale(1.03);
        }
    }
}

.success-teams-container:has(:hover) .success-teams-col-main:not(:hover) {
    filter: grayscale(1) brightness(0.6);
    transition: all 0.2s;
    // transform: scale(0.95);
}


.team-info-wrap {
    position: absolute;
    inset: auto 0 50px 0;
    max-width: 70%;
    margin: 0 auto;

    .team-info-inner {
        position: relative;
        background-color: var(--text-secondary);
        color: var(--text-white);
        padding: 23px 40px;
        border-radius: 60px 0 60px 0;
    }
}

.team-img-height {
    height: 450px;
    transition: all 0.2s;
}

@media screen and (min-width: 1400px) {
    .team-img-height {
        height: 500px;
    }
}

@media screen and (max-width: 1199px) {
    .team-img-height {
        height: 400px;
    }

    .team-info-wrap {
        max-width: 80%;

        .team-info-inner {
            padding: 23px 30px;
        }
    }
}

@media screen and (min-width: 991px) {
    .team-info-wrap {
        opacity: 0;
        visibility: hidden;
        transition: all 0.35s;
        inset: auto 0 -50px 0;
    }

    .success-teams-inner {
        &:hover {
            .team-info-wrap {
                opacity: 1;
                visibility: visible;
                inset: auto 0 50px 0;

            }
        }

    }
}